<ion-card *ngIf="person" [ngClass]="cardColor">
  <ion-card-header
    class="box uni"
    [routerLink]="['/person/details', person?.personId]"
  >
    <ion-item lines="none">
      <ion-avatar class="avatar" slot="start">
        <img
          [src]="imageUrl"
          [alt]="person?.firstName + person?.lastName + 'profile picture'"
        />
      </ion-avatar>
      <ion-label class="ion-padding-start" text-wrap>
        <h1>{{ person?.firstName }}</h1>
        <h1>{{ person?.lastName }}</h1>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="showContent && person.userId">
    <app-link-user-buttons
      slot="end"
      [userId]="person?.userId"
    ></app-link-user-buttons>
  </ion-card-content>
</ion-card>
