<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="startApp()" [hidden]="!showSkip">
        {{ "_common.skip" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-theme]="dark" [fullscreen]="true" class="menu">
  <swiper
    class="absolute-center"
    (swiper)="setSwiperInstance($event)"
    (slideChangeTransitionStart)="onSlideChangeStart()"
  >
    <ng-template swiperSlide>
      <ion-grid>
        <img
          [src]="dark? 'assets/img/text-logo-dark-img.png' : 'assets/img/text-logo-img.png'"
          class="slide-image"
        />
        <h2 class="slide-title">{{"_slides._welcome.title" | translate}}</h2>
        <h3>{{"_slides._welcome.content" |translate}}</h3>
        <ion-button class="next-button" (click)="next()" color="primary">
          {{ "_common.next" | translate }}
        </ion-button>
      </ion-grid>
    </ng-template>

    <ng-template swiperSlide>
      <ion-grid>
        <img src="assets/img/app-description-img.png" class="slide-image" />
        <h2 class="slide-title">{{"_slides._whatIs.title" | translate}}</h2>
        <h3>{{"_slides._whatIs.content" | translate}}</h3>
        <ion-button class="next-button" (click)="next()" color="primary">
          {{ "_common.next" | translate }}
        </ion-button>
      </ion-grid>
    </ng-template>

    <ng-template swiperSlide>
      <ion-grid>
        <img src="assets/img/secure-info-img.png" class="slide-image" />
        <h2 class="slide-title">
          {{"_slides._securedInfo.title" | translate}}
        </h2>
        <h3>{{"_slides._securedInfo.content" |translate}}</h3>
        <ion-button class="next-button" (click)="next()" color="primary">
          {{ "_common.next" | translate }}
        </ion-button>
      </ion-grid>
    </ng-template>

    <ng-template swiperSlide>
      <ion-grid>
        <img src="assets/img/more-relatives-img.png" class="slide-image" />
        <h2 class="slide-title">{{"_slides._relatives.title" |translate}}</h2>
        <h3>{{"_slides._relatives.content" | translate}}</h3>
        <h3 class="slide-title">
          {{"_slides.ready" | translate}} <strong>GeneTree?</strong>
        </h3>
        <ion-button (click)="startApp()">
          {{"_common.continue" | translate }}
          <ion-icon slot="start" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-grid>
    </ng-template>
  </swiper>
</ion-content>
