.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}
@media (min-width: 768px) {
  h3 {
    max-width: 60%;
    margin-left: 20%;
  }
}

ion-content {
  --background: rgb(50, 175, 112);
}
@media (min-width: 768px) {
  vg-player {
    margin-top: 2%;
    max-width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 768px) {
  vg-player {
    margin-top: 60%;
  }
}
