<ion-app
  [class.dark-theme]="dark"
  [class.invert-colors]="invert"
  [class.grayscale]="gray"
  [class.highlight-links]="highlight"
>
  <ion-split-pane contentId="main-content">
    <ion-menu side="end" contentId="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>
            <ion-label>
              <img
                width="24"
                alt="GeneTree Logo"
                src="../../../../../assets/icon/logo-38x32.png"
              />
            </ion-label>
            {{ "menu" | translate }}
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu">
        <app-navigation></app-navigation>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" class="content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
