<ion-header>
  <ion-toolbar>
    <ion-title>{{'_pages.location'| translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="map-container">
    <ion-card-content class="map-frame">
      <div id="map"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer no-border transparent class="ion-text-center">
  <ion-toolbar>
    <app-social-media-chips></app-social-media-chips>
  </ion-toolbar>
</ion-footer>
