<ion-buttons *ngIf="userId">
  <ion-button
    *ngIf="isCurrentUser; else otherUser"
    type="button"
    [routerLink]="['/user/profile']"
    fill="clear"
    color="secondary"
    slot="end"
  >
    <ion-icon name="shield" slot="start"></ion-icon>
    <ion-label> {{ "_common.you" | translate }} </ion-label>
  </ion-button>
  <ng-template #otherUser>
    <ion-button
      type="button"
      [routerLink]="['/user/profile', userId]"
      fill="clear"
      color="success"
      slot="end"
    >
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ng-template>
</ion-buttons>
