<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>
      {{ "_user.educations" | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list slot="content">
      <div *ngIf="educations?.length > 0; else noEducations">
        <ion-card *ngFor="let education of educations">
          <ion-card-header>
            <ion-card-title>
              <ion-label>
                {{
                  "_educationlevels." +
                    (education.educationLevel?.name | lowercase) | translate
                }}
                {{ "_common.at" | translate }}
                {{ education?.educationInstituteName }}
              </ion-label>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-label>
                {{ education.startDate | date: "dd/MM/yyyy" }} -
                {{
                  education.endDate
                    ? (education.endDate | date: "dd/MM/yyyy")
                    : ("_common.present" | translate)
                }}
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="canModify">
            <ion-button
              [id]="'open-edit-education' + education.id"
              fill="clear"
              color="warning"
              slot="start"
            >
              <ion-icon name="pencil" slot="start"></ion-icon>
              {{ "_common.edit" | translate }}
            </ion-button>
            <ion-modal
              [trigger]="'open-edit-education' + education.id"
              [swipeToClose]="true"
            >
              <ng-template>
                <app-education-edit
                  [isUpdate]="true"
                  [education]="education"
                  (saveConfirmed)="refreshEducation()"
                >
                </app-education-edit>
              </ng-template>
            </ion-modal>
            <ion-button
              fill="clear"
              color="danger"
              slot="end"
              (click)="confirmDeleteEducation(education)"
            >
              <ion-icon name="trash" slot="start"></ion-icon>
              {{ "_common.delete" | translate }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
      <ng-template #noEducations>
        {{ "_education.none" | translate }}
      </ng-template>
      <ng-container *ngIf="canModify">
        <ion-button
          id="open-create-education"
          expand="block"
          fill="clear"
          color="success"
        >
          <ion-icon name="add" slot="start"></ion-icon>
          {{ "_add.education" | translate }}
        </ion-button>
        <ion-modal trigger="open-create-education" [swipeToClose]="true">
          <ng-template>
            <app-education-edit
              [isUpdate]="false"
              (saveConfirmed)="refreshEducation()"
            >
            </app-education-edit>
          </ng-template>
        </ion-modal>
      </ng-container>
    </ion-list>
  </ion-card-content>
</ion-card>
