<ion-card [class.selected]="selected" [ngClass]="cardColor">
  <ion-card-header class="box uni" (click)="changeSelection()">
    <ion-item>
      <ion-avatar class="avatar" slot="start">
        <img
          [src]="imageUrl"
          [alt]="person?.firstName + person?.lastName + 'profile picture'"
        />
      </ion-avatar>
      <ion-label class="ion-padding-start" text-wrap>
        <h1>{{ person?.firstName }}</h1>
        <h1>{{ person?.lastName }}</h1>
      </ion-label>
    </ion-item>
  </ion-card-header>
</ion-card>
