<ion-list *ngIf="authService.isLoggedIn.value" lines="none">
  <ion-list-header> GeneTree </ion-list-header>
  <app-navigation-link
    *ngFor="let link of connectedUserLinks; let i = index"
    [link]="link"
  >
  </app-navigation-link>
</ion-list>

<ion-list *ngIf="!authService.isLoggedIn.value" lines="none">
  <ion-list-header> {{ "account" | translate }} </ion-list-header>
  <app-navigation-link
    *ngFor="let link of freeUserLinks; let i = index"
    [link]="link"
  >
  </app-navigation-link>
</ion-list>

<ion-list lines="none">
  <ion-list-header> {{ "others" | translate }} </ion-list-header>
  <app-theme-select></app-theme-select>
  <app-language-select></app-language-select>
  <app-navigation-link
    *ngFor="let link of otherLinks; let i = index"
    [link]="link"
  >
  </app-navigation-link>
</ion-list>
