<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>
      {{ "_person.marriages" | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list slot="content">
      <ion-item *ngFor="let marriage of marriages">
        <ion-label>{{ marriage.personMarriedTo.firstName }}</ion-label>
        <ion-button fill="clear" color="secondary">
          {{ "_common.details" | translate }}
        </ion-button>
      </ion-item>
      <ion-card *ngFor="let marriage of marriages">
        <ion-card-header class="ion-text-center">
          <ion-card-title>
            <ion-label>
              {{ marriage.personMarriedTo.firstName }}
              {{ marriage.personMarriedTo.lastName}}
            </ion-label>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-label>
              {{ marriage.marriageStarted | date: "dd/MM/yyyy" }} -
              {{
                marriage.marriageEnded
                  ? (marriage.marriageEnded | date: "dd/MM/yyyy")
                  : ("_common.present" | translate)
              }}
            </ion-label>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="canModify">
          <ion-button
            [id]="'open-edit-marriage' + marriage.id"
            fill="clear"
            color="warning"
            slot="start"
          >
            <ion-icon name="pencil" slot="start"></ion-icon>
            {{ "_common.edit" | translate }}
          </ion-button>
          <ion-modal
            [trigger]="'open-edit-marriage' + marriage.id"
            [swipeToClose]="true"
          >
            <ng-template>
              <!-- TODO -->
            </ng-template>
          </ion-modal>
          <ion-button
            fill="clear"
            color="danger"
            slot="end"
            (click)="confirmDeleteMarriage()"
          >
            <ion-icon name="trash" slot="start"></ion-icon>
            {{ "_common.delete" | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ng-container *ngIf="canModify">
        <ion-button
          [id]="'open-add-marriage' + personLinkedTo.personId"
          expand="block"
          fill="clear"
          color="success"
        >
          <ion-icon name="add" slot="start"></ion-icon>
          {{ "_add.marriage" | translate }}
        </ion-button>
        <ion-modal
          [trigger]="'open-add-marriage' + personLinkedTo.personId"
          [swipeToClose]="true"
        >
          <ng-template>
            <app-marriage-add
              [person]="personLinkedTo"
              (saveConfirmed)="refreshMarriages()"
            >
            </app-marriage-add>
          </ng-template>
        </ion-modal>
      </ng-container>
    </ion-list>
  </ion-card-content>
</ion-card>
