<ion-header>
  <ion-toolbar>
    <ion-title>{{ "_pages.genealogyList" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-buttons end>
        <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
      </ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" color="success" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-title>{{ viewTitle }}</ion-title>

      <ion-col>
        <ion-button fill="clear" color="success" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <calendar
      #eventCalendar
      [eventSource]="calendarEvents"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      [monthviewDisplayEventTemplate]="monthDate"
      [monthviewEventDetailTemplate]="eventDetails"
    ></calendar>
    <ng-template #monthDate let-view="view" let-row="row" let-col="col">
      <div [class.with-event]="view.dates[row * 7 + col].events.length">
        {{ view.dates[row * 7 + col].label }}
        <div class="indicator-container">
          <div
            class="event-indicator ion-margin"
            *ngFor="let e of view.dates[row * 7 + col].events"
          ></div>
        </div>
      </div>
    </ng-template>
    <ng-template
      #eventDetails
      let-showEventDetail="showEventDetail"
      let-selectedDate="selectedDate"
      let-noEventsLabel="noEventsLabel"
    >
      <ion-list
        class="event-detail-container"
        has-bouncing="false"
        *ngIf="showEventDetail"
        overflow-scroll="false"
      >
        <ion-item *ngFor="let event of selectedDate?.events">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col *ngIf="event.eventType === 'BIRTHDAY'">
                {{
                  "events.birthdayAnniversary"
                    | translate
                      : {
                          name: event.affectedPeople[0].firstName,
                          years:
                            event.startTime.getFullYear() -
                            event.date.getFullYear()
                        }
                }}
              </ion-col>
              <ion-col *ngIf="event.eventType === 'MARRIAGE'">
                {{
                  "events.marriageAnniversary"
                    | translate
                      : {
                          firstPerson: event.affectedPeople[0].firstName,
                          secondPerson: event.affectedPeople[1].firstName,
                          years:
                            event.startTime.getFullYear() -
                            event.date.getFullYear()
                        }
                }}
              </ion-col>
              <ion-col>
                <ion-row class="ion-align-items-center">
                  <ng-container *ngIf="event.eventType === 'BIRTHDAY'">
                    <ion-icon
                      color="warning"
                      name="gift"
                      size="large"
                    ></ion-icon>
                    <ng-container
                      *ngTemplateOutlet="
                        calendarAvatar;
                        context: { person: event.affectedPeople[0] }
                      "
                    ></ng-container>
                  </ng-container>
                  <ng-container *ngIf="event.eventType === 'MARRIAGE'">
                    <ng-container
                      *ngTemplateOutlet="
                        calendarAvatar;
                        context: { person: event.affectedPeople[0] }
                      "
                    ></ng-container>
                    <ion-icon
                      color="danger"
                      name="heart"
                      size="large"
                    ></ion-icon>
                    <ng-container
                      *ngTemplateOutlet="
                        calendarAvatar;
                        context: { person: event.affectedPeople[1] }
                      "
                    ></ng-container>
                  </ng-container>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngIf="selectedDate?.events.length === 0">
          <div class="no-events-label">{{ noEventsLabel }}</div>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-card>
</ion-content>

<ng-template #calendarAvatar let-person="person">
  <span>
    <ion-avatar
      class="avatar ion-margin"
      slot="start"
      [routerLink]="['/person/details', person.personId]"
    >
      <img
        [src]="getImageUrl(person.imageFile)"
        [alt]="person.firstName + ' ' + person.lastName"
      />
    </ion-avatar>
  </span>
</ng-template>
