<ion-card>
  <form [formGroup]="signupGroup" (ngSubmit)="onSubmit()">
    <ion-card-content>
      <ion-list style="text-align: center">
        <ion-item>
          <ion-label position="floating">First name</ion-label>
          <ion-input
            type="text"
            name="firstName"
            formControlName="firstName"
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="firstNameCtrl.invalid && firstNameCtrl.touched"
          lines="none"
        >
          <ion-label color="danger"> Please enter your first name. </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last name</ion-label>
          <ion-input
            type="text"
            name="lastName"
            formControlName="lastName"
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="!lastNameCtrl.valid && lastNameCtrl.touched"
          lines="none"
        >
          <ion-label color="danger">Please enter your last name. </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select
            name="gender"
            formControlName="gender"
            interface="popover"
          >
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="none">None</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!genderCtrl.valid && genderCtrl.touched" lines="none">
          <ion-label color="danger"> Please enter your gender. </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nationality</ion-label>
          <ion-select
            name="nationality"
            formControlName="nationality"

            interface="popover"
          >
            <ion-select-option value="ro">Romanian</ion-select-option>
            <ion-select-option value="bg">Bulgarian</ion-select-option>
            <ion-select-option value="gb">British</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item
          *ngIf="!nationalityCtrl.valid && nationalityCtrl.touched"
          lines="none"
        >
          <ion-label color="danger"> Please enter your nationality. </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Birthday</ion-label>
          <ion-input
            type="date"
            name="birthday"
            formControlName="birthday"
            placeholder=""
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="!birthdayCtrl.valid && birthdayCtrl.touched"
          lines="none"
        >
          <ion-label color="danger"> Please enter your birthday. </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input
            type="text"
            name="username"
            formControlName="username"
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="!usernameCtrl.valid && usernameCtrl.touched"
          lines="none"
        >
          <ion-label color="danger"> Please choose your username. </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input
            type="email"
            name="email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
          <ion-label color="danger">
            Please enter a valid email address.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            name="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
          lines="none"
        >
          <ion-label color="danger">
            Should at least be 8 characters long.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="
            passwordCtrl.valid &&
            passwordCtrl.value !== confirmPasswordCtrl.value &&
            confirmPasswordCtrl.touched
          "
          lines="none"
        >
          <ion-label color="danger"> The passwords do not match. </ion-label>
        </ion-item>
        <ion-button
          type="submit"
          color="primary"
          [disabled]="signupGroup.invalid"
        >
          {{ "Signup" }}
        </ion-button>
      </ion-list>
    </ion-card-content>
  </form>
</ion-card>
