<ion-card *ngIf="isParentList !== null && !!personLinkedTo?.personId">
  <ion-card-header class="ion-text-center">
    <ion-card-title>
      {{ (isParentList ? "_person.parents" : "_person.children") | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list slot="content">
      <ng-container *ngIf="parentsChildren?.length > 0; else noRelatives">
        <app-parent-child-card
          *ngFor="let parentChild of parentsChildren"
          [parentChild]="parentChild"
          [isParent]="isParentList"
          [canModify]="canModify"
          (deleteConfirmed)="refreshParentChild()"
        ></app-parent-child-card>
      </ng-container>
      <ng-template #noRelatives>
        {{
          (isParentList ? "_parentChild.noParent" : "_parentChild.noChild")
            | translate
        }}
      </ng-template>
      <ng-container *ngIf="canModify">
        <!-- ADD CHILD -->
        <ng-container *ngIf="isParentList === false; else parentsButtons">
          <ion-button
            [id]="'open-add-child' + personLinkedTo.personId"
            expand="block"
            fill="clear"
            color="success"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            {{ "_add.child" | translate }}
          </ion-button>

          <ion-modal
            [trigger]="'open-add-child' + personLinkedTo.personId"
            [swipeToClose]="true"
          >
            <ng-template>
              <app-parent-child-add
                [person]="personLinkedTo"
                [addParent]="false"
                (saveConfirmed)="refreshParentChild()"
              >
              </app-parent-child-add>
            </ng-template>
          </ion-modal>
        </ng-container>

        <!-- ADD PARENT -->
        <ng-template #parentsButtons>
          <!-- ADD MOTHER -->
          <ion-button
            *ngIf="noMother"
            [id]="'open-add-mother' + personLinkedTo.personId"
            expand="block"
            fill="clear"
            color="success"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            {{ "_add.mother" | translate }}
          </ion-button>
          <ion-modal
            [trigger]="'open-add-mother' + personLinkedTo.personId"
            [swipeToClose]="true"
          >
            <ng-template>
              <app-parent-child-add
                [person]="personLinkedTo"
                [addParent]="true"
                parentType="f"
                (saveConfirmed)="refreshParentChild()"
              >
              </app-parent-child-add>
            </ng-template>
          </ion-modal>
          <!-- ADD FATHER -->
          <ion-button
            *ngIf="noFather"
            [id]="'open-add-father' + personLinkedTo.personId"
            expand="block"
            fill="clear"
            color="success"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            {{ "_add.father" | translate }}
          </ion-button>
          <ion-modal
            [trigger]="'open-add-father' + personLinkedTo.personId"
            [swipeToClose]="true"
          >
            <ng-template>
              <app-parent-child-add
                [person]="personLinkedTo"
                [addParent]="true"
                parentType="m"
                (saveConfirmed)="refreshParentChild()"
              >
              </app-parent-child-add>
            </ng-template>
          </ion-modal>
        </ng-template>
      </ng-container>
    </ion-list>
  </ion-card-content>
</ion-card>
