<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>
      {{ "_person.children" | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list slot="content">
      <ion-item *ngFor="let child of children">
        <ion-label>{{ child.child.firstName }}</ion-label>
        <ion-button fill="clear" color="secondary">
          {{ "_common.details" | translate }}
        </ion-button>
      </ion-item>
      <ion-button expand="block" fill="clear" color="success">
        <ion-icon name="add" slot="start"></ion-icon>
        {{ "_add.child" | translate }}
      </ion-button>
    </ion-list>
  </ion-card-content>
</ion-card>
