<ion-item>
  <ion-label>
    <ion-icon name="language" slot="start"></ion-icon>
    {{ "language" | translate }}
  </ion-label>
  <ion-select
    class="language-select"
    [formControl]="formControl"
    interface="popover"
    [selectedText]="formControl.value | uppercase"
  >
    <ion-select-option
      *ngFor="let option of languageOptions"
      [value]="option.languageKey"
      >{{ "_languages." + option.translationKey | translate }}
    </ion-select-option>
  </ion-select>
</ion-item>
