<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ isCurrentUser ? ('_pages.profile' | translate ) :
      ('_pages.otherProfile' | translate: {name: personalInfo?.firstName + " " +
      personalInfo?.lastName} )}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-text-center">
  <ng-container *ngIf="canSync">
    <ion-button
      id="open-add-relative"
      class="ion-margin"
      expand="block"
      color="success"
    >
      <ion-icon name="add" slot="start"></ion-icon>
      {{ "_add.relative" | translate }}
    </ion-button>
    <ion-modal trigger="open-add-relative" [swipeToClose]="true">
      <ng-template>
        <app-relative-request
          [receiverUser]="personalInfo"
          (saveConfirmed)="requestSent()"
        >
        </app-relative-request>
      </ng-template>
    </ion-modal>
  </ng-container>
  <ion-grid>
    <ion-row class="ion-align-item-center">
      <ion-col size-sm="4" offset-sm="1">
        <app-user-info
          [userInfo]="personalInfo"
          [canModify]="isCurrentUser"
          [canAccessDetails]="isRelative || isCurrentUser"
        ></app-user-info>
      </ion-col>
      <ion-col size-sm="4" offset-sm="1">
        <app-person-info
          [personInfo]="personalInfo"
          [showHeader]="false"
          [canModify]="isCurrentUser"
        ></app-person-info>
      </ion-col>
      <ion-col size="12" size-sm="4" offset-sm="1">
        <app-occupation-list
          [occupations]="personalInfo?.occupations"
          [userId]="personalInfo?.userId"
          [canModify]="isCurrentUser"
        >
        </app-occupation-list>
      </ion-col>
      <ion-col size="12" size-sm="4" offset-sm="1">
        <app-education-list
          [educations]="personalInfo?.educations"
          [userId]="personalInfo?.userId"
          [canModify]="isCurrentUser"
        ></app-education-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
