<ion-header>
  <ion-toolbar>
    <ion-title>{{ "_pages.findRelatives" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-searchbar
    placeholder="{{ '_common.search' | translate }}"
    debounce="1000"
    animated
    (ionChange)="findUsers($event)"
  ></ion-searchbar>
  <ion-grid *ngIf="usersFound">
    <ion-row>
      <ng-container *ngIf="!users || !!users.length; else noUsersFound">
        <ion-col size="12" size-md="4" *ngFor="let user of users">
          <app-user-card [user]="user"></app-user-card>
        </ion-col>
      </ng-container>
      <ng-template #noUsersFound>
        <ion-col size="12" size-md="4" offset-md="4">
          {{ "_relative.noUserFound" | translate }}
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-infinite-scroll
      threshold="100px"
      #infiniteScroll
      (ionInfinite)="loadMoreUsers()"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
