<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      {{ "changePicture" | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{
        "_common.cancel" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="submitPhoto()">
        <ion-item-group id="changePhoto">
          <ion-item color="transparent">
            <ion-label for="photo" position="stacked">
              <b>
                {{ "_image.toUpload" | translate }}
                <span class="required"> *</span>
              </b>
            </ion-label>
            <input
              type="file"
              accept="image/*"
              name="photo"
              #photo="ngModel"
              ngModel
              class="file-input"
              (change)="onFileChange($event)"
              #fileUpload
              required
            />
            <ion-button
              name="photoButton"
              [color]="file ? 'warning' : 'success'"
              fill="clear"
              expand="block"
              (click)="fileUpload.click()"
            >
              {{ (file ? "_image.change" : "_image.choose") | translate }}
              <ion-icon name="image" slot="end"></ion-icon>
            </ion-button>
            <div
              *ngIf="photo.control.value"
              class="file-info align-items-center"
            >
              <p class="small">
                {{ file.name }}
                {{ file.type }}
              </p>
              <ion-avatar class="img-thumbnail">
                <img
                  [src]="originalImgUrl"
                  alt="uploaded-img-original"
                  class="align-self-start"
                />
              </ion-avatar>

              <p class="small">
                Uploaded file size:
                <span> {{ file.size / 1024 | number: "1.2-2" }}&nbsp;kB </span>
              </p>
              <p class="small">
                Original reconstructed file size:
                <span> {{ originalImgSize | number: "1.2-2" }}&nbsp;kB </span>
              </p>
              <ion-avatar class="img-thumbnail">
                <img
                  [src]="compressedImgUrl"
                  alt="uploaded-img-compressed"
                  class="align-self-start"
                />
              </ion-avatar>
              <p>
                Compressed file size:
                <span> {{ compressedImgSize | number: "1.2-2" }}&nbsp;kB </span>
              </p>
            </div>
          </ion-item>
          <app-validation-errors
            [model]="photo"
            [number]="maxSizeMb"
          ></app-validation-errors>
        </ion-item-group>

        <ion-button
          type="submit"
          class="submit-button"
          color="success"
          fill="clear"
          expand="block"
          [disabled]="form.invalid || form.pristine"
        >
          <ion-icon name="save" slot="start"></ion-icon>
          {{ "_common.confirm" | translate }}
        </ion-button>
        <!-- https://stackoverflow.com/questions/50566385/how-to-get-the-height-and-width-of-an-image-in-angular-2or-above-from-input-ta -->
        <!-- https://www.positronx.io/angular-image-upload-preview-crop-zoom-and-scale-example/ -->
        <!-- https://www.npmjs.com/package/ngx-image-compress -->
        <!-- https://medium.com/swlh/compress-image-and-send-it-to-an-api-in-angular-bc48e6ed3835 -->
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
