<ion-header>
  <ion-toolbar>
    <ion-title> {{'_pages.home' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <button (click)="showToasterSuccess()">Success Toaster</button>

    <button (click)="showToasterError()">Error Toaster</button>

    <button (click)="showToasterInfo()">Info Toaster</button>

    <button (click)="showToasterWarning()">Warning Toaster</button>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
