<ion-header>
  <ion-toolbar>
    <ion-title>{{'_pages.settings' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="absolute-center">
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                <h1>{{ "preferences" | translate }}</h1>
              </ion-list-header>

              <ion-item class="ion-align-items-center">
                <ion-icon name="sync" slot="start"></ion-icon>
                <ion-label text-wrap
                  ><h2>{{ "_notify.updates" | translate }}</h2>
                </ion-label>
                <ion-toggle
                  slot="end"
                  color="warning"
                  [(ngModel)]="userSettings.notifyUpdates"
                ></ion-toggle>
              </ion-item>

              <ion-item class="ion-align-items-center">
                <ion-icon name="gift" slot="start"></ion-icon>

                <ion-label text-wrap
                  ><h2>{{ "_notify.birthdays" | translate }}</h2>
                </ion-label>
                <ion-toggle
                  slot="end"
                  color="warning"
                  [(ngModel)]="userSettings.notifyBirthdays"
                ></ion-toggle>
              </ion-item>

              <ion-item class="ion-align-items-center">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label text-wrap>
                  <h2>{{ "_notify.shareContact" | translate }}</h2>
                </ion-label>
                <ion-toggle
                  slot="end"
                  color="warning"
                  [(ngModel)]="userSettings.sharePersonalInfo"
                ></ion-toggle>
              </ion-item>
              <ion-button
                expand="block"
                fill="clear"
                color="success"
                (click)="saveSettings()"
              >
                <ion-icon slot="start" name="cloud-done"></ion-icon>
                {{ "_common.save" | translate }}
              </ion-button>
              <br />
              <ion-button
                id="open-change-password"
                expand="block"
                fill="clear"
                color="warning"
              >
                <ion-icon slot="start" name="hammer"></ion-icon>
                {{ "_password.change" | translate }}
              </ion-button>
              <ion-modal trigger="open-change-password" [swipeToClose]="true">
                <ng-template>
                  <app-change-password></app-change-password>
                </ng-template>
              </ion-modal>
              <br />
              <ion-button
                *ngIf="authService.isLoggedIn.value"
                expand="block"
                fill="clear"
                color="danger"
                (click)="onLogout()"
              >
                <ion-icon slot="start" name="log-out"></ion-icon>

                {{ "logout" | translate }}
              </ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
