<ion-grid>
  <ion-row class="ion-align-item-center">
    <ion-col size-sm="6" offset-sm="3">
      <ion-card>
        <ion-card-content>
          <form #form="ngForm" (ngSubmit)="onSubmit()">
            <!-- FIRST NAME -->
            <ion-item-group id="firstName">
              <ion-item color="transparent">
                <ion-label for="fname" position="floating">
                  <b>
                    {{ "firstName" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="text"
                  name="fname"
                  #fname="ngModel"
                  [(ngModel)]="personEdit.firstName"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="fname.touched && fname.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="fname.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <!-- LAST NAME -->
            <ion-item-group id="lastName">
              <ion-item color="transparent">
                <ion-label for="lname" position="floating">
                  <b>
                    {{ "lastName" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="text"
                  name="lname"
                  #lname="ngModel"
                  [(ngModel)]="personEdit.lastName"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="lname.touched && lname.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="lname.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <!-- GENDER -->
            <ion-item-group id="gender">
              <ion-item color="transparent">
                <ion-label for="gender" position="floating">
                  <b>
                    {{ "gender" | translate }}
                  </b>
                </ion-label>
                <ion-select
                  name="gender"
                  #gender="ngModel"
                  [(ngModel)]="personEdit.gender"
                  [selectedText]="
                    '_genders.' + personEdit.gender?.name
                      | lowercase
                      | translate
                  "
                  interface="popover"
                  [interfaceOptions]="{ cssClass: 'custom-height-popover' }"
                >
                  <ion-select-option
                    *ngFor="let gender of genderOptions"
                    [value]="gender"
                  >
                    {{ "_genders." + gender.name | lowercase | translate }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>

            <!-- NATIONALITY -->
            <ion-item-group id="nationality">
              <ion-item color="transparent">
                <ion-label for="nat" position="floating">
                  <b>
                    {{ "nationality" | lowercase | translate }}
                  </b>
                </ion-label>
                <ion-select
                  name="nat"
                  #nat="ngModel"
                  [(ngModel)]="personEdit.nationality"
                  [selectedText]="
                    '_nationalities.' + personEdit.nationality?.name
                      | lowercase
                      | translate
                  "
                  interface="popover"
                  [interfaceOptions]="{ cssClass: 'custom-height-popover' }"
                >
                  <ion-select-option
                    *ngFor="let nationality of nationalityOptions"
                    [value]="nationality"
                  >
                    {{ "_nationalities." + nationality.name | translate }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>

            <!-- RELIGION -->
            <ion-item-group id="religion">
              <ion-item color="transparent">
                <ion-label for="rel" position="floating">
                  <b>
                    {{ "religion" | lowercase | translate }}
                  </b>
                </ion-label>
                <ion-select
                  name="nat"
                  #nat="ngModel"
                  [(ngModel)]="personEdit.religion"
                  [selectedText]="
                    '_religions.' + personEdit.religion?.name
                      | lowercase
                      | translate
                  "
                  interface="popover"
                  [interfaceOptions]="{ cssClass: 'custom-height-popover' }"
                >
                  <ion-select-option
                    *ngFor="let religion of religionOptions"
                    [value]="religion"
                  >
                    {{ "_nationalities." + religion.name | translate }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>

            <!-- BIRTHDAY -->
            <ion-item-group id="birthday">
              <ion-item color="transparent">
                <ion-label for="bday" position="floating">
                  <b>
                    {{ "birthday" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="date"
                  name="bday"
                  #bday="ngModel"
                  [(ngModel)]="personEdit.birthDate"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="!bday.valid && bday.touched"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="bday.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <!-- DEATHDAY -->
            <ion-item-group *ngIf="!personEdit.userId" id="deathday">
              <ion-item color="transparent">
                <ion-label for="dday" position="floating">
                  <b>
                    {{ "deathday" | translate }}
                  </b>
                </ion-label>
                <ion-input
                  type="date"
                  name="dday"
                  #bday="ngModel"
                  [(ngModel)]="personEdit.deathDate"
                  placeholder=""
                ></ion-input>
              </ion-item>
            </ion-item-group>

            <ion-button
              type="submit"
              class="submit-button"
              color="success"
              expand="block"
              [disabled]="form.invalid"
            >
              {{ "save" | translate }}
            </ion-button>
          </form>
          <ion-button
            type="button"
            color="secondary"
            fill="clear"
            expand="block"
            [routerLink]="['/person/details', personEdit.id]"
          >
            {{ "backToDetails" | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
