@import "../../../../../theme/variables";

.sc-ion-input-md-h {
  --padding-top: 2px;
  --padding-bottom: 2px;
  --padding-start: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 0 10px;
}
::ng-deep .custom-height-popover
{
  --max-height: 30%;
}
