<ion-grid>
  <ion-row class="ion-align-item-center">
    <ion-col size-sm="6" offset-sm="3">
      <ion-card>
        <ion-card-header class="ion-align-self-center">
          <ion-row class="ion-justify-content-start">
            <ion-col size-xl="1" size-md="2" size-xs="3">
              <ion-avatar class="">
                <img
                  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                />
              </ion-avatar>
            </ion-col>
            <ion-col size="6" class="ion-padding-start">
              <ion-card-title>
                <ion-label>
                  <h1>{{ personalInfo?.firstName }}</h1></ion-label
                >
              </ion-card-title>
              <ion-card-subtitle>
                <ion-label>
                  <h1>{{ personalInfo?.lastName }}</h1></ion-label
                >
              </ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-list inset="true">
            <ion-list-header
              ><ion-label
                ><h1>{{ "_user.details" | translate }}</h1></ion-label
              ></ion-list-header
            >
            <ion-accordion-group>
              <ion-accordion value="colors">
                <ion-item slot="header">
                  <ion-label>{{ "_person.information" | translate }}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-item>
                    <ion-label> {{ "gender" | translate }}:</ion-label>
                    <span>
                      {{
                        "_genders." + personalInfo?.gender?.name
                          | lowercase
                          | translate
                      }}</span
                    >
                  </ion-item>
                  <ion-item>
                    <ion-label>{{ "nationality" | translate }}:</ion-label>
                    <span>
                      {{
                        "_nationalities." + personalInfo?.nationality?.name
                          | lowercase
                          | translate
                      }}</span
                    >
                  </ion-item>
                  <ion-item>
                    <ion-label>{{ "religion" | translate }}:</ion-label>
                    <span>
                      {{
                        "_religions." + personalInfo?.religion?.name
                          | lowercase
                          | translate
                      }}</span
                    >
                  </ion-item>
                  <ion-item>
                    <ion-label>{{ "birthday" | translate }}:</ion-label>
                    <span>
                      {{ personalInfo?.birthDate | date: "dd/MM/yyyy" }}</span
                    >
                  </ion-item>
                  <ion-button
                    expand="block"
                    fill="clear"
                    color="warning"
                    [routerLink]="['/person/edit/', personalInfo.personId]"
                  >
                    {{ "_edit.information" | translate }}
                  </ion-button>
                  <ion-button
                    expand="block"
                    fill="clear"
                    color="secondary"
                    [routerLink]="['/person/details/', personalInfo.personId]"
                  >
                    {{ "viewDetails" | translate }}
                  </ion-button>
                </ion-list>
              </ion-accordion>

              <ion-accordion value="educations">
                <ion-item slot="header">
                  <ion-label>{{ "educations" | translate }}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <div *ngFor="let education of educations">
                    <ion-item>
                      <ion-label>{{ education.name }}</ion-label>
                      <ion-button fill="clear" color="secondary">
                        {{ "edit" | translate }}
                      </ion-button>
                    </ion-item>
                  </div>
                  <ion-button expand="block" fill="clear" color="success">
                    {{ "_add.education" | translate }}
                  </ion-button>
                </ion-list>
              </ion-accordion>

              <ion-accordion value="occupations">
                <ion-item slot="header">
                  <ion-label>{{ "occupations" | translate }}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-item *ngFor="let occupation of occupations">
                    <ion-label>{{ occupation.name }}</ion-label>
                    <ion-button fill="clear" color="secondary">
                      {{ "edit" | translate }}
                    </ion-button>
                  </ion-item>
                  <ion-button expand="block" fill="clear" color="success">
                    {{ "_add.occupation" | translate }}
                  </ion-button>
                </ion-list>
              </ion-accordion>

              <ion-accordion value="cont">
                <ion-item slot="header">
                  <ion-label>{{ "contact" | translate }}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-item>
                    {{ "email" | translate }}:
                    <ion-chip color="secondary" (click)="copyMail('das@djisa')">
                      <ion-icon name="mail-outline"></ion-icon>
                      <ion-label>{{ personalInfo?.email }} </ion-label>
                    </ion-chip>
                  </ion-item>
                  <ion-item class="ion-justify-content-start">
                    {{ "phone" | translate }}:
                    <ion-chip
                      color="secondary"
                      (click)="copyPhone('0231789312')"
                    >
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-label>{{ personalInfo?.phoneNumber }} </ion-label>
                    </ion-chip>
                  </ion-item>
                  <ion-button expand="block" fill="clear" color="warning">
                    {{ "_edit.contact" | translate }}
                  </ion-button>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- //https://ionic-5-full-starter-app-docs.ionicthemes.com/profile -->
<!-- https://ionic-5-full-starter-app-docs.ionicthemes.com/profile -->
