<ion-grid>
  <ion-row class="ion-align-item-center">
    <ion-col size-sm="6" offset-sm="3">
      <ion-card>
        <ion-card-header class="ion-align-self-center"
          ><ion-avatar>
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-text> Name </ion-text>
          </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-list-header> Personal info</ion-list-header>
            <ion-item> </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- //https://ionic-5-full-starter-app-docs.ionicthemes.com/profile -->
<!-- https://ionic-5-full-starter-app-docs.ionicthemes.com/profile -->
