<ion-avatar class="avatar" *ngIf="personId">
  <img [src]="utilsService.imageUrl(imageFile)" alt="avatar" />
  <ion-fab-button
    *ngIf="canEdit"
    class="inner"
    [id]="'open-change-' + type + '-picture-' + personId"
    color="success"
  >
    <ion-icon name="image"></ion-icon>
  </ion-fab-button>
  <ion-modal
    [trigger]="'open-change-' + type + '-picture-' + personId"
    [swipeToClose]="true"
  >
    <ng-template>
      <app-photo-upload
        *ngIf="!!personId"
        (imageSave)="setImageFile($event)"
        [personId]="personId"
      ></app-photo-upload>
    </ng-template>
  </ion-modal>
</ion-avatar>
