#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}
button {
  margin: 40px;
  padding: 5px 20px;
  cursor: pointer;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid rgb(38, 97, 8);
  border-color: rgb(38, 97, 8) transparent rgb(38, 97, 8) transparent;
  animation: rotate 1.2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
