<ion-header>
  <ion-toolbar>
    <ion-title>{{ "_pages.relativesList" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ng-container
        *ngIf="!!relativesList && !!relativesList.length; else noRelatives"
      >
        <ion-col size="12" size-md="4" *ngFor="let relative of relativesList">
          <app-person-card [person]="relative.relativeUser"></app-person-card>
        </ion-col>
      </ng-container>
      <ng-template #noRelatives>
        <ion-col size="12" size-md="4" offset-md="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ "_relative.noRelativeFound" | translate }}
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
