<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-content>
          <form #form="ngForm" (ngSubmit)="onLogin()">
            <ion-item-group id="username">
              <ion-item color="transparent">
                <ion-label for="uname" position="floating">
                  <b>
                    {{ "username" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="text"
                  name="username"
                  #uname="ngModel"
                  [(ngModel)]="loginModel.username"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="uname.touched && uname.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="uname.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <ion-item-group id="password">
              <ion-item color="transparent">
                <ion-label for="psw" position="floating">
                  <b>
                    {{ "password" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="password"
                  name="psw"
                  #psw="ngModel"
                  [(ngModel)]="loginModel.password"
                  minlength="8"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="psw.touched && psw.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="psw.errors?.required">
                  {{ "passwordRequired" | translate }}
                </ion-label>
                <ion-label class="error" *ngIf="psw.errors?.minlength">
                  {{ "_validation.minLength" | translate: { length: 8 } }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <ion-button
              type="submit"
              class="submit-button"
              color="success"
              expand="block"
              [disabled]="form.invalid || form.pristine"
            >
              {{ "login" | translate }}
            </ion-button>
          </form>
          <ion-button
            type="button"
            color="secondary"
            fill="clear"
            expand="block"
            (click)="onNavigateToRegister()"
          >
            {{ "registerHere" | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
