<ion-header>
  <ion-toolbar>
    <ion-title>{{'_pages.notifications' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let request of requestsReceived">
        <app-request-notification
          [request]="request"
          (refreshNotifications)="refreshNotifications()"
        >
        </app-request-notification>
      </ion-col>
      <ion-col size="12" size-md="4" *ngFor="let response of requestsResponded">
        <app-request-response-notification
          [requestResponse]="response"
          (refreshNotifications)="refreshNotifications()"
        >
        </app-request-response-notification>
      </ion-col>
      <ion-col size="12" size-md="4" *ngFor="let event of eventsToday">
        <app-event-notification [event]="event"> </app-event-notification>
      </ion-col>
      <ion-col size="12" size-md="4" *ngFor="let relativeUpdate of relativeUpdates">
        <app-relative-updates-notification [relativeUpdate]="relativeUpdate"> </app-relative-updates-notification>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border transparent class="ion-text-center">
  <ion-toolbar>
    <app-social-media-chips></app-social-media-chips>
  </ion-toolbar>
</ion-footer>
