<ion-modal class="delete-modal"[isOpen]="present" [swipeToClose]="true">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>{{ "_delete.confirm" | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()">{{
            "_common.cancel" | translate
          }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-label
          >{{ "_delete.warning" | translate }} {{ typeName | translate | lowercase}}?
        </ion-label>
      </ion-item>
      <ng-container [ngTemplateOutlet]="template"></ng-container>
      <ion-button
        fill="solid"
        color="danger"
        expand="block"
        (click)="confirm()"
      >
        {{ "_common.delete" | translate }}
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
