<ion-grid>
  <ion-row class="ion-align-item-center">
    <ion-col size-sm="6" offset-sm="3">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-list-header>
              <h1>{{ "preferences" | translate }}</h1>
            </ion-list-header>

            <ion-item class="ion-align-items-center">
              <ion-icon name="sync-outline" slot="start"></ion-icon>
              <ion-label text-wrap
                ><h2>{{ "_notify.updates" | translate }}</h2>
              </ion-label>
              <ion-toggle
                slot="end"
                color="warning"
                [(ngModel)]="userSettings.notifyUpdates"
              ></ion-toggle>
            </ion-item>

            <ion-item class="ion-align-items-center">
              <ion-icon name="gift-outline" slot="start"></ion-icon>

              <ion-label text-wrap
                ><h2>{{ "_notify.birthdays" | translate }}</h2>
              </ion-label>
              <ion-toggle
                slot="end"
                color="warning"
                [(ngModel)]="userSettings.notifyBirthdays"
              ></ion-toggle>
            </ion-item>

            <ion-item class="ion-align-items-center">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label text-wrap>
                <h2>{{ "shareContact" | translate }}</h2>
              </ion-label>
              <ion-toggle
                slot="end"
                color="warning"
                [(ngModel)]="userSettings.sharePersonalInfo"
              ></ion-toggle>
            </ion-item>
            <app-theme-select (themeChanged)="onThemeChange($event)"></app-theme-select>
            <app-language-select (languageChanged)="onLanguageChange($event)"></app-language-select>
            <ion-button
              expand="block"
              fill="clear"
              color="success"
              (click)="saveSettings()"
            >
              {{ "_common.save" | translate }}
            </ion-button>
            <br />
            <ion-button
            expand="block"
            fill="clear"
            color="warning"
          >
            {{ "changePassword" | translate }}
          </ion-button>
            <br />
            <ion-button
              *ngIf="authService.isLoggedIn()"
              expand="block"
              fill="clear"
              color="danger"
              (click)="onLogout()"
            >
              {{ "logout" | translate }}
            </ion-button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

