<ion-card>
  <ion-card-header class="ion-text-center">
    <ng-container *ngIf="showHeader; else showTitle">
      <app-person-avatar
        [imageFile]="personInfo?.imageFile"
        [personId]="personInfo?.personId"
      ></app-person-avatar>
      <ion-card-title text-wrap>
        <h1>{{ personInfo?.firstName }} {{ personInfo?.lastName }}</h1>
      </ion-card-title>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button
            [routerLink]="['/person/list', personInfo?.treeId]"
            expand="block"
            color="secondary"
            slot="start"
          >
            <ion-icon name="people" slot="start"></ion-icon>
            {{ "_pages.relatives" | translate }}
          </ion-button>
        </ion-buttons>
        <app-link-user-buttons
          slot="end"
          [userId]="personInfo?.userId"
        ></app-link-user-buttons>
      </ion-item>
    </ng-container>
    <ng-template #showTitle>
      <ion-card-title>
        {{ "_person.information" | translate }}
      </ion-card-title>
    </ng-template>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-list slot="content">
        <ion-item>
          <ion-label> {{ "_person.gender" | translate }}:</ion-label>
          <span>
            {{
              "_genders." + personInfo?.gender?.name | lowercase | translate
            }}</span
          >
        </ion-item>
        <ion-item>
          <ion-label>{{ "_person.nationality" | translate }}:</ion-label>
          <span>
            {{
              "_nationalities." + personInfo?.nationality?.name
                | lowercase
                | translate
            }}</span
          >
        </ion-item>
        <ion-item>
          <ion-label>{{ "_person.religion" | translate }}:</ion-label>
          <span>
            {{
              "_religions." + personInfo?.religion?.name | lowercase | translate
            }}</span
          >
        </ion-item>
        <ion-item>
          <ion-label>{{ "_person.birthday" | translate }}:</ion-label>
          <span> {{ personInfo?.birthDate | date: "dd/MM/yyyy" }}</span>
        </ion-item>
        <ion-item *ngIf="personInfo?.deathDate">
          <ion-label>{{ "_person.deathday" | translate }}:</ion-label>
          <span> {{ personInfo?.deathDate | date: "dd/MM/yyyy" }}</span>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "_location.from" | translate }}:</ion-label>
          <span>{{ getLocationText(personInfo?.birthPlace) }}</span>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "_location.lives" | translate }}:</ion-label>
          <span>{{ getLocationText(personInfo?.livingPlace) }}</span>
        </ion-item>
        <ion-button
          *ngIf="canModify"
          expand="block"
          fill="clear"
          color="warning"
          [routerLink]="['/person/edit/', personInfo?.personId]"
        >
          <ion-icon name="pencil" slot="start"></ion-icon>
          {{ "_edit.information" | translate }}
        </ion-button>
      </ion-list>

      <ion-button
        *ngIf="canDelete"
        expand="block"
        fill="clear"
        color="danger"
        (click)="confirmDeletePerson()"
      >
        <ion-icon name="person-remove" slot="start"></ion-icon>
        {{ "_delete.person" | translate }}
      </ion-button>
    </ion-list>
  </ion-card-content>
</ion-card>
