<ion-header>
  <ion-toolbar>
    <ion-title>{{"_pages.relatives"| translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button
    *ngIf="isUserTree"
    class="ion-margin"
    color="success"
    expand="block"
    [routerLink]="['/person/create']"
  >
    {{ "_add.person" | translate }}
    <ion-icon name="person-add" slot="start"></ion-icon>
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let person of relativesList">
        <app-person-card [person]="person"></app-person-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
