<ion-grid>
  <ion-row class="ion-align-item-center">
    <ion-col size-sm="6" offset-sm="3">
      <ion-card>
        <ion-card-content>
          <form
            #form="ngForm"
            [matchPassword]="['psw', 'cpsw']"
            (ngSubmit)="onRegister()"
          >
            <ion-item-group id="firstName">
              <ion-item color="transparent">
                <ion-label for="fname" position="floating">
                  <b>
                    {{ "firstName" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="text"
                  name="fname"
                  #fname="ngModel"
                  [(ngModel)]="registerModel.firstName"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="fname.touched && fname.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="fname.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <ion-item-group id="lastName">
              <ion-item color="transparent">
                <ion-label for="lname" position="floating">
                  <b>
                    {{ "lastName" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="text"
                  name="lname"
                  #lname="ngModel"
                  [(ngModel)]="registerModel.lastName"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="lname.touched && lname.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="lname.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group id="gender">
              <ion-item color="transparent">
                <ion-label for="gender" position="floating">
                  <b>
                    {{ "gender" | translate }}
                  </b>
                </ion-label>
                <ion-select
                  name="gender"
                  #gender="ngModel"
                  [(ngModel)]="registerModel.genderId"
                  interface="popover"
                >
                  <ion-select-option
                    *ngFor="let gender of genderOptions"
                    [value]="gender.id"
                  >
                    {{ "_genders." + gender.name | translate }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>

            <ion-item-group id="nationality">
              <ion-item color="transparent">
                <ion-label for="nat" position="floating">
                  <b>
                    {{ "nationality" | translate }}
                  </b>
                </ion-label>
                <ion-select
                  name="nat"
                  #nat="ngModel"
                  [(ngModel)]="registerModel.nationality"
                  interface="popover"
                >
                  <ion-select-option
                    *ngFor="let nationality of nationalityOptions"
                    [value]="nationality.name"
                  >
                    {{ "_nationalities." + nationality.name | translate }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>

            <ion-item-group id="birthday">
              <ion-item color="transparent">
                <ion-label for="bday" position="floating">
                  <b>
                    {{ "birthday" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <!-- <ion-datetime
                  displayFormat="DD/MM/YYYY"
                  pickerFormat="DD MMM YYYY"
                  name="bday"
                  #bday="ngModel"
                  type="date"
                  [(ngModel)]="registerModel.birthDate"
                  min="1900-01-01"
                  max="2020-12-31"
                  required
                ></ion-datetime> -->
                <ion-input
                  type="date"
                  name="bday"
                  #bday="ngModel"
                  [(ngModel)]="registerModel.birthDate"
                  placeholder=""
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="!bday.valid && bday.touched"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="bday.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group id="email">
              <ion-item color="transparent">
                <ion-label for="email" position="floating">
                  <b>
                    {{ "emailAddress" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="email"
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="registerModel.email"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="!email.valid && email.touched"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="email.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
                <ion-label class="error" *ngIf="email.errors?.email">
                  {{ "_validation.invalidEmail" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>

            <ion-item-group id="username">
              <ion-item color="transparent">
                <ion-label for="uname" position="floating">
                  <b>
                    {{ "username" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="text"
                  name="uname"
                  #uname="ngModel"
                  [(ngModel)]="registerModel.username"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="uname.touched && uname.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="uname.errors?.required">
                  {{ "_validation.fieldRequired" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group id="password">
              <ion-item color="transparent">
                <ion-label for="psw" position="floating">
                  <b>
                    {{ "password" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="password"
                  name="psw"
                  #psw="ngModel"
                  [(ngModel)]="registerModel.password"
                  required
                  passwordPattern
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="psw.touched && psw.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="psw.errors?.required">
                  {{ "passwordRequired" | translate }}
                </ion-label>
                <ion-label class="error" *ngIf="psw.errors?.invalidPassword">
                  {{ "invalidPassword" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group id="confirmPassword">
              <ion-item color="transparent">
                <ion-label for="cpsw" position="floating">
                  <b
                    >{{ "confirmPassword" | translate }}
                    <span class="required"> *</span>
                  </b>
                </ion-label>
                <ion-input
                  type="password"
                  name="cpsw"
                  #cpsw="ngModel"
                  [(ngModel)]="registerModel.confirmPassword"
                  required
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="cpsw.touched && cpsw.invalid"
                color="transparent"
                lines="none"
                class="errors"
              >
                <ion-label class="error" *ngIf="cpsw.errors?.required">
                  {{ "confirmPasswordRequired" | translate }}
                </ion-label>
                <ion-label class="error" *ngIf="cpsw.errors?.passwordMismatch">
                  {{ "passwordMustMatch" | translate }}
                </ion-label>
              </ion-item>
            </ion-item-group>
            <ion-button
              type="submit"
              class="submit-button"
              color="success"
              expand="block"
              [disabled]="form.invalid || form.pristine"
            >
              {{ "register" | translate }}
            </ion-button>
          </form>
          <ion-button
            type="button"
            color="secondary"
            fill="clear"
            expand="block"
            (click)="onNavigateToLogin()"
          >
            {{ "backToLogin" | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
