<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>
      {{ (isParentList ? "_person.parents" : "_person.children") | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list slot="content">
      <ng-container *ngIf="relatives?.length > 0; else noRelatives">
        <app-relative-card
          *ngFor="let relative of relatives"
          [relative]="relative"
          [isParent]="isParentList"
          [canModify]="canModify"
          (deleteConfirmed)="refreshRelatives()"
        ></app-relative-card>
      </ng-container>
      <ng-template #noRelatives>
        {{ (isParentList ? "_relative.noParent" : "_relative.noChild") | translate }}
      </ng-template>
      <ng-container *ngIf="canModify">
        <!-- ADD CHILD -->
        <ion-button
          *ngIf="!isParentList; else parentsButtons"
          [id]="'open-add-child' + personLinkedTo.personId"
          expand="block"
          fill="clear"
          color="success"
        >
          <ion-icon name="add" slot="start"></ion-icon>
          {{ "_add.child" | translate }}
        </ion-button>

        <ion-modal
          [trigger]="'open-add-child' + personLinkedTo.personId"
          [swipeToClose]="true"
        >
          <ng-template>
            <app-linked-relative-add
              [person]="personLinkedTo"
              [addParent]="false"
              (saveConfirmed)="refreshRelatives()"
            >
            </app-linked-relative-add>
          </ng-template>
        </ion-modal>

        <!-- ADD PARENT -->
        <ng-template #parentsButtons>
          <!-- ADD MOTHER -->
          <ion-button
            *ngIf="noMother"
            [id]="'open-add-mother' + personLinkedTo.personId"
            expand="block"
            fill="clear"
            color="success"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            {{ "_add.mother" | translate }}
          </ion-button>
          <ion-modal
            [trigger]="'open-add-mother' + personLinkedTo.personId"
            [swipeToClose]="true"
          >
            <ng-template>
              <app-linked-relative-add
                [person]="personLinkedTo"
                [addParent]="true"
                parentType="f"
                (saveConfirmed)="refreshRelatives()"
              >
              </app-linked-relative-add>
            </ng-template>
          </ion-modal>
          <!-- ADD FATHER -->
          <ion-button
            *ngIf="noFather"
            [id]="'open-add-father' + personLinkedTo.personId"
            expand="block"
            fill="clear"
            color="success"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            {{ "_add.father" | translate }}
          </ion-button>
          <ion-modal
            [trigger]="'open-add-father' + personLinkedTo.personId"
            [swipeToClose]="true"
          >
            <ng-template>
              <app-linked-relative-add
                [person]="personLinkedTo"
                [addParent]="true"
                parentType="m"
                (saveConfirmed)="refreshRelatives()"
              >
              </app-linked-relative-add>
            </ng-template>
          </ion-modal>
        </ng-template>
      </ng-container>
    </ion-list>
  </ion-card-content>
</ion-card>
