<ion-header>
  <ion-toolbar>
    <ion-title>{{"_details.person" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row class="ion-align-item-center">
      <ion-col size-sm="4">
        <app-person-info
          [personInfo]="personDetails"
          [canModify]="isUserTree"
        ></app-person-info>
      </ion-col>

      <ion-col size-sm="4">
        <app-parent-child-list
          [parentsChildren]="personDetails?.parents"
          [personLinkedTo]="personDetails"
          [canModify]="isUserTree"
          [isParentList]="true"
        >
        </app-parent-child-list>
        <app-marriage-list
          [marriages]="personDetails?.marriages"
          [personLinkedTo]="personDetails"
          [canModify]="isUserTree"
        >
        </app-marriage-list>
      </ion-col>
      <ion-col size-sm="4">
        <app-parent-child-list
          [parentsChildren]="personDetails?.children"
          [personLinkedTo]="personDetails"
          [canModify]="isUserTree"
          [isParentList]="false"
        >
        </app-parent-child-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
