<ion-header>
  <ion-toolbar>
    <ion-title>{{"_details.person" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-item-center">
      <ion-col size-sm="5" offset-sm="1">
        <app-person-info [personInfo]="personDetails"></app-person-info>
      </ion-col>

      <ion-col size-sm="4" offset-sm="1">
        <app-parents-list [parents]="personDetails?.parents">
        </app-parents-list>

        <app-children-list [children]="personDetails?.children">
        </app-children-list>

        <app-marriage-list [marriages]="personDetails?.marriages">
        </app-marriage-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal trigger="open-delete-person" [swipeToClose]="true">
  <ng-template>
    <app-person-delete
      [person]="personDetails"
      (personDeleted)=" router.navigate(['/person/list'])"
    ></app-person-delete>
  </ng-template>
</ion-modal>
