<ion-card>
  <ion-card-header [routerLink]="['/person/details', relative?.personId]">
    <ion-item lines="none">
      <ion-avatar class="avatar" slot="start">
        <img
          [src]="imageUrl"
          [alt]="relative?.firstName + relative?.lastName + 'profile picture'"
        />
      </ion-avatar>
      <ion-label class="ion-padding-start" text-wrap>
        <h1>{{ relative?.firstName }}</h1>
        <h1>{{ relative?.lastName }}</h1>
      </ion-label>
      <ion-icon
        *ngIf="relative.bloodRelatives"
        name="water"
        color="danger"
        slot="end"
      ></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="canModify" class="ion-text-center">
    <ion-button
      fill="clear"
      color="danger"
      slot="end"
      (click)="confirmDeleteRelative()"
    >
      <ion-icon name="trash" slot="start"></ion-icon>
      {{ "_common.delete" | translate }}
    </ion-button>
  </ion-card-content>
</ion-card>
