<ion-card>
  <ion-card-header  [routerLink]="['/person/details', parentChild?.personId]">
    <ion-item lines="none">
      <ion-avatar class="avatar" slot="start">
        <img
          [src]="imageUrl"
          [alt]="parentChild?.firstName + parentChild?.lastName + 'profile picture'"
        />
      </ion-avatar>
      <ion-label class="ion-padding-start" text-wrap>
        <h1>{{ parentChild?.firstName }}</h1>
        <h1>{{ parentChild?.lastName }}</h1>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="canModify" class="ion-text-center">
    <ion-button
      fill="clear"
      color="danger"
      slot="end"
      (click)="confirmDeleteParentChild()"
    >
      <ion-icon name="trash" slot="start"></ion-icon>
      {{ "_common.delete" | translate }}
    </ion-button>
  </ion-card-content>
</ion-card>
