<ion-header>
  <ion-toolbar>
    <ion-title>{{'register' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-row class-sm="absolute-center">
      <ion-col size-sm="8" offset-sm="2">
        <ion-card>
          <form
            #form="ngForm"
            [matchPassword]="['psw', 'cpsw']"
            (ngSubmit)="onRegister()"
          >
            <ion-row>
              <ion-col size-md="5" offset-sm="1">
                <ion-list class="ion-text-center">
                  <ion-list-header>
                    <h1>{{ "_person.information" | translate }}</h1>
                  </ion-list-header>
                  <ion-item-group id="firstName">
                    <ion-item color="transparent">
                      <ion-label for="fname" position="floating">
                        <b>
                          {{ "_person.firstName" | translate }}
                          <span class="required"> *</span>
                        </b>
                      </ion-label>
                      <ion-input
                        type="text"
                        name="fname"
                        #fname="ngModel"
                        [(ngModel)]="registerModel.firstName"
                        required
                      ></ion-input>
                    </ion-item>
                    <app-validation-errors
                      [model]="fname"
                    ></app-validation-errors>
                  </ion-item-group>

                  <ion-item-group id="lastName">
                    <ion-item color="transparent">
                      <ion-label for="lname" position="floating">
                        <b>
                          {{ "_person.lastName" | translate }}
                          <span class="required"> *</span>
                        </b>
                      </ion-label>
                      <ion-input
                        type="text"
                        name="lname"
                        #lname="ngModel"
                        [(ngModel)]="registerModel.lastName"
                        required
                      ></ion-input>
                    </ion-item>
                    <app-validation-errors
                      [model]="lname"
                    ></app-validation-errors>
                  </ion-item-group>

                  <ion-item-group>
                    <ion-radio-group
                      name="gender"
                      #gender="ngModel"
                      [(ngModel)]="registerModel.gender"
                    >
                      <ion-row>
                        <ion-col>
                          <ion-item color="transparent" class="ion-no-padding">
                            <ion-label text-wrap>
                              <b>
                                {{ "_person.gender" | translate }}
                                <span class="required"> *</span>
                              </b>
                            </ion-label>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item class="ion-no-padding ion-no-margin">
                            <ion-label text-wrap>
                              {{ "_genders.m" | translate }}
                            </ion-label>
                            <ion-radio class="ion-no-margin"
                              slot="start"
                              value="m"
                              color="success"
                            ></ion-radio>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item class="ion-no-padding ion-no-margin">
                            <ion-label text-wrap>
                              {{ "_genders.f" | translate }}
                            </ion-label>
                            <ion-radio class="ion-no-margin"
                              slot="start"
                              value="f"
                              color="success"
                            ></ion-radio>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-radio-group>
                    <app-validation-errors
                      [model]="gender"
                    ></app-validation-errors>
                  </ion-item-group>

                  <app-select-template
                    name="_person.nationality"
                    optionsPrefix="_nationalities"
                    [options]="nationalityOptions"
                    [(field)]="registerModel.nationalityId"
                  ></app-select-template>

                  <app-select-template
                    name="_person.religion"
                    optionsPrefix="_religions"
                    [options]="religionOptions"
                    [(field)]="registerModel.religionId"
                  ></app-select-template>

                  <app-date-select-template
                    [isRequired]="true"
                    name="_person.birthday"
                    [(date)]="registerModel.birthDate"
                  >
                  </app-date-select-template>
                </ion-list>
              </ion-col>
              <ion-col size-md="4" offset-sm="1">
                <ion-list class="ion-text-center">
                  <ion-list-header>
                    <h1>{{ "accountInfo" | translate }}</h1>
                  </ion-list-header>

                  <ion-item-group id="email">
                    <ion-item color="transparent">
                      <ion-label for="email" position="floating">
                        <b>
                          {{ "_user.emailAddress" | translate }}
                          <span class="required"> *</span>
                        </b>
                      </ion-label>
                      <ion-input
                        type="text"
                        name="email"
                        #email="ngModel"
                        [(ngModel)]="registerModel.email"
                        emailCheck
                        required
                      ></ion-input>
                    </ion-item>
                    <app-validation-errors
                      [model]="email"
                    ></app-validation-errors>
                  </ion-item-group>

                  <app-input-template
                    id="phone"
                    [(field)]="registerModel.phoneNumber"
                    name="_user.phone"
                  ></app-input-template>

                  <ion-item-group id="username">
                    <ion-item color="transparent">
                      <ion-label for="uname" position="floating">
                        <b>
                          {{ "username" | translate }}
                          <span class="required"> *</span>
                        </b>
                      </ion-label>
                      <ion-input
                        type="text"
                        name="uname"
                        #uname="ngModel"
                        [(ngModel)]="registerModel.username"
                        usernameCheck
                        minlength="6"
                        required
                      ></ion-input>
                    </ion-item>
                    <app-validation-errors
                      [model]="uname"
                      [number]="6"
                    ></app-validation-errors>
                  </ion-item-group>

                  <ion-item-group id="password">
                    <ion-item color="transparent">
                      <ion-label for="psw" position="floating">
                        <b>
                          {{ "password" | translate }}
                          <span class="required"> *</span>
                        </b>
                      </ion-label>
                      <ion-input
                        type="password"
                        name="psw"
                        #psw="ngModel"
                        [(ngModel)]="registerModel.password"
                        required
                        passwordPattern
                      ></ion-input>
                    </ion-item>
                    <app-validation-errors
                      [model]="psw"
                    ></app-validation-errors>
                  </ion-item-group>

                  <ion-item-group id="confirmPassword">
                    <ion-item color="transparent">
                      <ion-label for="cpsw" position="floating">
                        <b
                          >{{ "_password.confirm" | translate }}
                          <span class="required"> *</span>
                        </b>
                      </ion-label>
                      <ion-input
                        type="password"
                        name="cpsw"
                        #cpsw="ngModel"
                        [(ngModel)]="registerModel.confirmPassword"
                        required
                      ></ion-input>
                    </ion-item>
                    <app-validation-errors
                      [model]="cpsw"
                    ></app-validation-errors>
                  </ion-item-group>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-button
              type="submit"
              class="submit-button"
              color="success"
              expand="block"
              [disabled]="form.invalid || form.pristine || !registerModel.birthDate"
            >
              {{ "register" | translate }}
            </ion-button>
            <ion-button
              type="button"
              color="secondary"
              fill="clear"
              expand="block"
              [routerLink]="['/user/login']"
              routerLinkActive="selected"
              routerDirection="root"
            >
              {{ "_links.backToLogin" | translate }}
            </ion-button>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border transparent class="ion-text-center">
  <ion-toolbar>
    <app-social-media-chips></app-social-media-chips>
  </ion-toolbar>
</ion-footer>
