<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{
      (isUpdate ? "_edit.occupation" : "_add.occupation") | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{
        "_common.cancel" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!-- OCCUPATION NAME -->
        <app-input-template
          id="occupation-name"
          [(field)]="occupation.occupationName"
          name="_occupation.occupationName"
        ></app-input-template>

        <!-- WORKING PLACE -->
        <app-input-template
          id="working-place-name"
          [(field)]="occupation.workingPlaceName"
          name="_occupation.workingPlaceName"
        ></app-input-template>

        <!-- START DATE -->
        <app-date-select-template
          [isRequired]="true"
          name="_occupation.firstDay"
          [(date)]="occupation.startDate"
          [id]="occupation.id"
        ></app-date-select-template>

        <!-- END DATE -->
        <app-date-select-template
          [isRequired]="false"
          name="_occupation.lastDay"
          [(date)]="occupation.endDate"
          [id]="occupation.id"
        ></app-date-select-template>

        <ion-button
          color="success"
          type="submit"
          class="submit-button"
          expand="block"
          [disabled]="!occupation.startDate"
        >
          {{ "_common.save" | translate }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
