<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{
      (isUpdate ? "_edit.occupation" : "_add.occupation") | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{
        "_common.cancel" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!-- OCCUPATION NAME -->
        <app-input-template
          id="occupation-name"
          [(field)]="occupation.occupationName"
          name="_occupation.occupationName"
        ></app-input-template>

        <!-- WORKING PLACE -->
        <app-input-template
          id="working-place-name"
          [(field)]="occupation.workingPlaceName"
          name="_occupation.workingPlaceName"
        ></app-input-template>
        <!-- START DATE -->
        <ion-item-group id="startDate">
          <ion-item
            color="transparent"
            button="true"
            id="open-start-date-input"
          >
            <ion-label for="startdate" position="floating">
              <b>
                {{ "_occupation.firstDay" | translate }}
                <span class="required"> *</span>
              </b>
            </ion-label>
            <ion-input
              name="startdate"
              #startdate="ngModel"
              [(ngModel)]="occupation.startDate"
              [readonly]="true"
              [value]="selectedStartDate | date"
              slot="end"
              required
            >
            </ion-input>
            <ion-popover
              trigger="open-start-date-input"
              side="top"
              alignment="center"
            >
              <ng-template>
                <ion-datetime
                  #popoverDate
                  showDefaultButtons
                  (ionChange)="
                    selectedStartDate = formatDate(popoverDate.value)
                  "
                  presentation="date"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-item-group>

        <!-- END DATE -->
        <ion-item-group id="endDate">
          <ion-item color="transparent" button="true" id="open-end-date-input">
            <ion-label for="enddate" position="floating">
              <b> {{ "_occupation.lastDay" | translate }} </b>
            </ion-label>
            <ion-input
              name="enddate"
              #enddate="ngModel"
              [(ngModel)]="occupation.endDate"
              [readonly]="true"
              [value]="selectedEndDate | date"
              slot="end"
            ></ion-input>

            <ion-popover
              trigger="open-end-date-input"
              side="top"
              alignment="center"
            >
              <ng-template>
                <ion-datetime
                  #popoverDate
                  showDefaultButtons
                  (ionChange)="selectedEndDate = formatDate(popoverDate.value)"
                  presentation="date"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-item-group>
        <ion-button fill="solid" color="success" type="submit" expand="block">
          {{ "_common.save" | translate }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
