<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      {{ (addParent ? "_add.parent" : "_add.child") | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        {{ "_common.cancel" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="custom-padding-bottom">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label> {{ "_relative.blood" | translate }} </ion-label>
              <ion-checkbox
                slot="start"
                [(ngModel)]="isBloodRelative"
              ></ion-checkbox>
            </ion-item>
            <ion-list>
              <ion-list-header>
                <h2>
                  {{
                    (addParent
                      ? "_relative.chooseParent"
                      : "_relative.chooseChild"
                    ) | translate
                  }}
                </h2>
              </ion-list-header>

              <div class="selection-list-height">
                <app-relative-option-card
                  *ngFor="let unrelatedPerson of unrelatedPeopleList"
                  [person]="unrelatedPerson"
                  [selected]="unrelatedPerson === selectedPerson"
                  (selectionChange)="selectPerson($event)"
                ></app-relative-option-card>
              </div>
            </ion-list>
            <ion-button
              color="success"
              type="submit"
              class="submit-button"
              expand="block"
              [disabled]="!selectedPerson"
              (click)="addRelative()"
            >
              {{ "_common.save" | translate }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
