<ion-menu side="end" content-id="main">
  <ion-header>
    <ion-toolbar translucent>
      <ion-row>

        <ion-item>
          <ion-label>
            <img
            width="24"
            alt="GeneTree Logo"
            src="../../../../../assets/icon/favicon-32x32.png"
            />
          </ion-label>
        </ion-item>
        <ion-title>{{ "menu" | translate }}</ion-title>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <app-navigation *ngIf="authService.isLoggedIn()"></app-navigation>
      <app-theme-select></app-theme-select>
      <app-language-select></app-language-select>
    </ion-list>
  </ion-content>
</ion-menu>
