<ion-card
  *ngIf="person"
  [ngClass]="utilsService.cardColor(person)"
  [class.selected]="selected"
>
  <ion-card-header class="person-box" (click)="selectPerson.emit(person)">
    <ion-item lines="none">
      <ion-avatar class="avatar" slot="start">
        <img
          [src]="utilsService.imageUrl(person.imageFile)"
          [alt]="person?.firstName + person?.lastName + 'profile picture'"
        />
      </ion-avatar>
      <ion-label class="ion-padding-start" text-wrap>
        <h1>{{ person?.firstName }}</h1>
        <h1>{{ person?.lastName }}</h1>
      </ion-label>
    </ion-item>
  </ion-card-header>
</ion-card>
